*, *::before, *::after {
    box-sizing: border-box;

}

:root {
    --background: #00090D;
    --secondary-bg: rgba(1, 58, 64, 0.4);
    --text-color: #90A8A8;
    --button-bg: #024959;
    --button-border: #026873;
    --btn-secondary-border: #181518;
    --box-shadow: #012326;
}

html {
    font-family: "IM Fell DW Pica", serif;
    font-size: 25px;
    color: var(--text-color);
    text-shadow: 2px 2px 5px var(--btn-secondary-border);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font: inherit;
    background-color: var(--background);
    background-image: url(/Images/UndertheSea-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: var(--secondary-bg);
    backdrop-filter: blur(10px) saturate(180%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px var(--box-shadow);
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    border-radius: 5px;
    padding: 5px 10px;
    font: inherit;
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
    outline: none;
    text-shadow: 2px 2px 5px var(--btn-secondary-border);
}

.btn:hover {
   border-color: var(--btn-secondary-border);

}